body {
  background: url("wod-buzzs-background.jpg") no-repeat center center fixed;
  background-size: cover;
  --bs-light-rgb: 48,73,95;
}

#topMenu {
  color: white;
  padding-bottom: 15px;
}

#centerText {
  color: white;
  height: 500px;
}

#bottomMenu {
  background-color: white;
  color: black;
  font-size: 20px;
}

div.nav-item.nav-link {
  color: white;
}

.brmedium {
  display: block;
  margin-bottom: 1em;
}
